:root {
  --green: #668cff;
  --black: #191a23;
  --lightgray: #f3f3f3;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Space Grotesk", sans-serif;
}

.services-header {
  display: flex;
  align-items: center;
  gap: 40px;
  margin: 85px 0;
}

.services-header h1 {
  background-color: var(--green);
  padding: 0 7px;
  border-radius: 7px;
}

.services {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

.service-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 69px;
  max-width: 600px;
  border: 1px solid var(--black);
  box-shadow: 0px 5px 0px var(--black);
  border-radius: 45px;
  padding: 50px;
}

.service-card h3 span {
  background-color: var(--green);
  border-radius: 7px;
  padding: 0 7px;
}
.service-card > div:nth-child(1) {
  display: flex;
  flex-direction: column;
  gap: 93px;
}

.service-card a {
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 20px;
  text-decoration: none;
  color: var(--black);
}

/* 
@keyframes
animation-name
animation-duration
animation-delay
animation-iteration-count
animation-direction
animation-timing-function
animation-fill-mode
animation */

@keyframes chapOng {
  from {
    transform: translateX(0px);
    border-radius: 0;
  }
  to {
    transform: translateX(800px);
    border-radius: 50%;
  }
}
.box {
  font-size: 40px;
  margin-top: 60px;
  margin-left: 60px;
  width: 160px;
  height: 160px;
  border: 10px solid red;
  padding: 10px;

  animation-name: chapOng;
  animation-duration: 2s;
  animation-delay: 0s;
  animation-timing-function: cubic-bezier(0.12, -0.43, 0.84, 0.12);
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  /* iteration-count direction */

  /* animation: name duration timing-function delay iteration-count direction fill-mode; */

  transform: translateX(0px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.box span {
  border: 2px solid orange;
  background-color: yellow;
}
